
/* Footer styling */
footer {
    display: flex;  
    color: var(--main-color);
    background-color: var(--accent-color);
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width:100%;
    height: 10vh;
}